.portfolio-page {
  align-items: top;
  padding: 0px 170px 0px 170px;
  display: flex;
  gap: 100px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.portfolio-page .achievements-heading {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 97, 7, 1);
  letter-spacing: 0.1px;
  border-radius: 4px;
  padding: 8px 0px;
  background-color:rgba(255, 255, 255, 1);
  border: 1px solid rgba(242, 250, 249, 1);
  text-align: center;
  width: 161px;
}

.portfolio-page .subheading {
  font-family: Poppins;
  font-weight: 700;
  font-size: 44px;
  line-height: 80px;
  letter-spacing: 0;
  margin-bottom: 90px;
  width: 540px;
}

.portfolio-page .orange-number {
  color: rgba(255, 130, 59, 1);
  margin-left: 8px;
}

.portfolio-page .website-image {
  width: auto;
  height: 600px;
}

.portfolio-page .website-title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0;
  margin-top: 20px;
  color: rgba(0, 0, 0, 1);
}

.portfolio-page .website-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0;
  color: rgba(70, 70, 70, 1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio-page .view-more-button {
  color: white;
  background-color: rgba(255, 130, 59, 1);
  cursor: pointer;
  padding: 18px 50px;
  border-radius: 32px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  align-items: center;
}

.portfolio-page .view-more-button:hover {
  background-color: rgba(255, 130, 59, 0.8);
}

.portfolio-page .view-more-button:active {
  opacity: 0.8;
}

.portfolio-page .arrow-white {
  width: 14px;
  margin-left: 5px;
}

.portfolio-page .stats-container {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 20px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.portfolio-page .stat-numbers,
.portfolio-page .stat-labels,
.portfolio-page .stat-places {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 24px;
}

.portfolio-page .stat-number {
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
  color: rgba(18, 79, 72, 0.37);
  margin-bottom: 12px;
}

.portfolio-page .stat-label {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0;
  color: rgba(18, 79, 72, 1);
  margin-bottom: 20px;
  margin-top: 18px;
  width: 125px;
}

.portfolio-page .stat-place {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0;
  color: rgba(255, 130, 59, 1);
  margin-top: 28px;
  margin-bottom: 35px;
}